<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtimeProducts.js"></script>
<div>
    <h4>Productos</h4>
    <div id="products">
    </div>
</div>
<div>
    <h5>Agregar nuevo producto</h5>
    <form action="" id="form">
        <label for="title">Título</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="description">Descripción</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="price">Precio</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="code">Código</label><br>
        <input type="text" id="code" name="code"><br>
        <label for="category">Categoría</label><br>
        <input type="text" id="category" name="category"><br>
        <label for="stock">Stock</label><br>
        <input type="text" id="stock" name="stock"><br>
        <input type="submit" value="Agregar">
    </form>
</div>